*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin: 20px auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-list{
    margin: 200px auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(20, 186, 20);
    border-radius: 10px;
}

.inputs{
    display: flex;
    flex-direction: column
}

input {
    padding: 0 10px;
    width: 200px;
    height: 30px;
    margin: 10px auto;
    border: 2px solid rgb(20, 186, 20);
    border-radius: 5px;
}

button{
    width: 200px;
    height: 30px;
    margin: 20px auto;
    color: white;
    background-color: rgb(87, 228, 87);
    border: none;
    border-radius: 5px;
}

button:hover{
    opacity: 0.7;
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}

h3 {
    margin-top: 10px;
}

p {
    margin-top: 5px;
}

.btn{
    width: 40px;
    height: 20px;
}

.done{
    margin-left: 10px;
    background-color: lightgreen;
}

.edit{
    margin-left: 10px;
    background-color: lightblue;
}

.delete{
    margin-left: 10px;
    background-color: lightcoral;
}